/*
  The colour theory i chose was blue, grey and orange
  blue represents peace and calmness, and i want
  my website to give off a welcoming vibe to users.

  grey represents balance and i felt that was to represent the
  treaty because the treaty wascreated to represent some kind of
  equality between the indegenous and colonizers.

  orange was the last color i chose because it represent fun and playfulness and i want my 
  readers using this website to feel at ease when looking through the different web pages.
*/

/* 
External styling
*/

/* 
  This styles all p tags to have a color
  of #121212, font family of sans-serif and a line-height of 140%
  and a letter-spacing of normal
*/
p {
  color: #121212;
  font-family: sans-serif;
  line-height: 140%;
  letter-spacing: normal;
}

/*
  sets default font for all ordered list to
  have a marging of 20px and have white space of normal
*/
ol {
  margin: 20px;

  white-space: normal;
}

/* 
  styles scrolling ot be smooth and to have a font size of 62.5%
  and to have a font family of sans-serif
*/
html {
  scroll-behavior: smooth;

  font-size: 62.5%;

  font-family: sans-serif;
}

/* 
  This styles the body of the web page to have a background color of #ffe8d9
  which is white with a hint of grey, using the background-color CSS property
  and to have a font-size of 2.1rem
*/
body {
  background-color: #ffe8d9;

  font-size: 2.1rem;
}

/*
  This styles all h1 tags to be center aligned and have a font size 
  of 40 px, a font colour of dark grey, and a font that uses frankiln goth
  medium before arial narrow, and then uses arial after, and 
  if neither fonts are available the it uses the default sans-serif. 
*/
h1 {
  text-align: center;
  font-size: 40px;
  color: #121212;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* styles all a tags that link websites to have a font color of red */
a {
  color: red;
}

/*
  This styles all h2 tags to be center aligned and have a font size 
  of 32 px, a font colour of dark grey, and a font that uses frankiln goth
  medium before arial narrow, and then uses arial after, and 
  if neither fonts are available the it uses the default sans-serif.
  as well as a text decoraton of underline dotted using webkit and moz to make the styling
  stay consistent across other platforms like apple, chrome, safari , firefox e.t.c.
*/
h2 {
  text-align: center;
  font-size: 32px;
  color: #121212;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* 
  This styles all image tags to automatically be formatted to the left of the tag it comes after
  and to set position of all images to static, the default position
*/
img {
  float: left;
  position: static;
}

/*
  This styles the multiple elements with a class of nav-link to have
  4px of margin, a 2px border that has a color of #94ccdd a light blue, padding of 5px,
  a background color of #ffe8d9 an off white, and a font color of dark grey,
  a font family of sans-serif and font size of 17px. 
*/
.nav-link {
  margin: 4px;
  border: 2px solid #94ccdd;
  padding: 5px;
  font-family: sans-serif;
  font-size: 17px;

  background-color: #ffe8d9;
  color: #121212;

  /* 
    This styles the transition of when the ser hovers over links
    for the background color and font color to come in smoothly
    which is what the ease-in-out code is or, after 0.5 sec
  */
  -o-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* 
  styles nav link to have a margin of  14px
  font size of 20px
  and display of inline-block
*/
nav li {
  display: inline-block;
  margin: 14px;
  font-size: 20px;
}

/* 
  This styles the nav to have  a background color of
  #f8975e, which is a light orange and a height of  50px 
  adds a background gradient color of different shades of orange
  and uses o, moz and webkit to make styling consistent across
  other platforms like, firefox, chrome, safari, apple, opera and internet explorer
  these are just a few of the platforms.
*/
nav {
  background-color: #f8975e;
  height: 50px;

  background-color: linear-gradient(#ff5e00, #d18f59, #cc6723);
  background: -o-linear-gradient(60deg, #ff5e00, #d18f59, #cc6723);
  background: -moz-linear-gradient(60deg, #ff5e00, #d18f59, #cc6723);
  background: -webkit-linear-gradient(60deg, #ff5e00, #d18f59, #cc6723);
}

/* 
  This styles the anchor element in the nav so that when a user hovers
  on or tabs to the links, the color of the anchor swap out. This means
  the background color will be #c0f0ff, a light blue and the font color will be dark grey
*/
nav a:hover,
nav a:focus {
  background-color: #c0f0ff;
  color: #121212;
}

/* styles elements with class of highlight to have a color of light orange*/
span {
  color: #ff8b48;
}
